@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-prim text-white font-sans text-base;
  }
}

@layer components {
  .btn-primary-fill {
    @apply h-[72px] font-sans font-semibold text-lg rounded-[20px] bg-cta hover:bg-cta/25;
  }
  .btn-primary-outline {
    @apply h-[72px] font-sans font-semibold text-lg rounded-[20px] border-2 box-border border-cta;
  }
  .btn-secondary-fill {
    @apply h-[60px] font-sans font-semibold rounded-[20px] bg-cta flex items-center justify-center hover:bg-cta/75;
  }
  .btn-secondary-outline {
    @apply h-[60px] font-sans font-semibold rounded-[20px] border-2 box-border border-cta flex items-center justify-center;
  }
  .btn-tertiary-fill {
    @apply h-[46px] font-sans font-semibold rounded-[20px] bg-cta;
  }
  .btn-tertiary-outline {
    @apply h-[46px] font-sans font-semibold rounded-[20px] border-2 box-border border-cta;
  }
}

@layer utilities {
  .gradient-1 {
    background: rgb(162, 89, 255);
    background: linear-gradient(
      152deg,
      rgba(162, 89, 255, 1) 10%,
      rgba(255, 98, 80, 1) 100%
    );
  }

  .gradient-2 {
    background: rgb(162, 89, 255);
    background: linear-gradient(
      152deg,
      rgba(162, 89, 255, 1) 39%,
      rgba(55, 125, 247, 1) 100%
    );
  }
}
